@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap");

.about {
  height: 80vh;
  width: min(95%, 1000px);
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-around;
  margin: 1.5rem auto;

  h1 {
    font-size: 2.75rem;
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-family: "Poppins", sans-serif;
  }
}
