.container {
  width: min(95%, 1000px);
  // height: 90vh;
}

.contact {
  width: 100%;
  margin: 3rem 1.25rem;
  @media (max-width: 500px) {
    margin: 10px;
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin: 30px;

  @media (max-height: 600px) {
    margin: 5px 20px;
  }
  @media (max-width: 500px) {
    margin: 20px;
  }

  .submit {
    border: 2px solid transparent;
    background: coral;
    color: #101010;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
}

.input > label {
  font-size: 19px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  @media (max-width: 500px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.input > input {
  font-size: 16px;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-bottom: 5px solid #101010;
  height: 40px;
  outline: none;
  background-color: rgb(249, 249, 249);
  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.input > .submit {
  cursor: pointer;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 30px;

  @media (max-height: 600px) {
    margin: 20px;
  }
  @media (max-width: 500px) {
    margin: 20px;
  }
}

.message > label {
  font-size: 19px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  @media (max-width: 500px) {
    font-size: 16px;
  }
}

.message > textarea {
  font-size: 16px;
  outline: none;
  padding: 10px;
  height: 200px;
  outline: none;
  border: 1px solid transparent;
  background-color: rgb(249, 249, 249);
  border-bottom: 5px solid #101010;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}
