.container {
  width: min(90%, 1000px);
  margin-inline: auto;
}

* {
  box-sizing: border-box;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito" sans-serif;
}
