@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

.container {
  width: min(90%, 1000px);
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 249, 249);
  font-family: "Nunito" sans-serif;
}
