.navigation {
  height: 50px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation > .navLogo {
  z-index: 100;
}

.navigation .navLogo > a {
  font-size: 18px;
  text-decoration: none;
  color: #101011;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.navigation > .nav-items > a {
  font-size: 16px;
  color: #101011;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.navigation .btn-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navigation > .nav-items {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transform: translateY(-100%);
    transition: background 0.25s ease;
  }

  .navigation > .nav-items > a {
    font-size: 20px;
    margin-bottom: 40px;
    transform: translateY(-100%);
    transition: transform 0.25s ease;
  }

  .navigation > .nav-items.open > a {
    transform: translateY(0);
    z-index: 100;
  }

  .navigation > .nav-items.open {
    transform: translateY(0);
    background: coral;
    z-index: 100;
  }

  .navigation .btn-mobile {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
  }

  .navigation .btn-mobile > .btn-mobile-line {
    background: #101011;
    height: 1px;
    width: 32px;
    margin-bottom: 8px;
    position: relative;
    transition: width 0.2s linear;
    transition: transform 0.2s linear;
  }

  .navigation .btn-mobile > .btn-mobile-line.sm-line {
    width: 23px;
    transition: width 0.2s linear;
    transition: transform 0.2s linear;
  }

  .navigation .btn-mobile.open > .btn-mobile-line {
    transform: rotate(45deg) translateY(7px);
    position: relative;
    width: 23px;
    height: 1px;
    margin: 4px 0;
  }
  .navigation .btn-mobile.open > .btn-mobile-line.sm-line {
    transform: rotate(-45deg) translateY(-7px);
    height: 1px;
    width: 23px;
    margin: 5px 0;
    background-color: #101011;
  }
}
